*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: #b0b0b0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.container{
    background-color: #fff;
    width: 350px;
    text-align: center;
    border-radius: 10px;
    padding: 15px 0;
    box-shadow: 10px 10px 30px 0.5px rgb(82, 82, 82);
    animation: boxContainer 1s ease-in-out;
}

@keyframes boxContainer {
    from{
       opacity: 0;
       transform: translateY(-20px);
    }
    to{
       opacity: 1;
       transform: translateY(0);
    }
}

h1{
   font-size: 2rem;
   text-transform: uppercase;

}

#value{
    font-size: 4rem;
    color: #007bff;
    
}

#value.negative{
    color: red;
}

.btn{
    font-size: 1rem;
    padding: 7px 10px ;
    margin: 5px;
    background: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;

}

.btn:hover{
    background: #0351a5;
}